$dark--background: #141211;
$dark--gradiant: radial-gradient(
  152.26% 177.59% at 100% 100%,
  rgba(83, 94, 197, 0.54) 0%,
  rgba(67, 127, 243, 0.28) 17.3%,
  rgba(67, 47, 148, 0) 93.75%
);
$main-color: transparent;
$secondary-color: white;
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  background-color: $dark--background;
  overflow: hidden;
  font-family: 'Patua One', cursive;
  .bg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark--gradiant;
  }
}

#intro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  #lottie {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.finished {
      left: 12px;
      top: 12px;
      width: 75px;
      height: 75px;
      transform: translate(0%, 0%);
      transition: all 1s ease-in-out;
    }
  }
}

.main {
  width: 100%;

  color: white;
  text-transform: uppercase;
  z-index: 100;
  display: flex;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0, 0, 0.23, 1);
  &.display {
    opacity: 1;
  }
  // font-weight: bold;
  section {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    display: flex;
    z-index: 0;
    aside {
      position: relative;
      &.left {
        left: 5vw;
      }

      width: 50%;
      height: 100vh;

      .content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > p {
          font-size: 3vw;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          background-image: linear-gradient(
            0deg,
            $secondary-color,
            $secondary-color 50%,
            $main-color 50%
          );
          background-size: 100% 200%;
          opacity: 0;
          margin: 0;
        }
        h2 {
          font-weight: normal;
          font-size: 40px;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          background-image: linear-gradient(
            0deg,
            $secondary-color,
            $secondary-color 50%,
            $main-color 50%
          );
          background-size: 100% 200%;
          opacity: 0;
          margin: 0;
        }

        > p.more {
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3vw;
          -webkit-text-stroke: 1px white;
          background-image: linear-gradient(
            0deg,
            $secondary-color,
            $secondary-color 30%,
            $main-color 60%
          );
          background-position: 100% 0%;
          letter-spacing: 0.25em;
          opacity: 0;
          margin: 0;
          &:hover {
            cursor: pointer;
            background-position: 100% 100%;
          }
        }

        div.img {
          z-index: 2;
          &:first-child {
            z-index: 1;
          }
        }
        img {
          width: 20vw;
          height: calc(20vw / 0.7);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-15vw, -50%);
          z-index: 1;
          opacity: 0;
          &:first-child {
            z-index: 2;
          }
        }
      }
      @media screen and (max-width: 967px) {
        &.right {
          display: none;
        }
        &.left {
          width: 100%;
          left: 0;
          .content {
            width: 90%;
            top: 80%;
            h2 {
              font-size: 8vw;
            }
            p {
              font-size: 7vw;
            }
          }
        }
      }
    }
    &.displayup {
      aside {
        .content {
          > p {
            background-position: 100% 0%;
            transform: translateY(+50px);
          }
          h2 {
            background-position: 100% 0%;
            transform: translateY(+50px);
          }

          > p.more {
            background-position: 100% 0%;
            transform: translateY(+50px);
            &:hover {
              cursor: pointer;
              background-position: 100% 100%;
            }
          }

          div.img {
            &:first-child {
              img {
                transform: translate(-42vw, calc(-75% + 200px));
              }
            }
            &:nth-child(2) {
              img {
                transform: translate(calc(-1vw), calc(-50% + 200px));
              }
            }
          }
        }
      }
    }
    &.displaydown {
      aside {
        .content {
          > p {
            background-position: 100% 200%;
            transform: translateY(-150px);
          }
          h2 {
            background-position: 100% 200%;
            transform: translateY(-50px);
          }

          > p.more {
            background-position: 100% 0%;
            transform: translateY(-50px);
            &:hover {
              cursor: pointer;
              background-position: 100% 100%;
            }
          }

          div.img {
            &:first-child {
              img {
                transform: translate(-42vw, calc(-75% - 150px));
              }
            }
            &:nth-child(2) {
              img {
                transform: translate(calc(-1vw), calc(-50%));
              }
            }
          }
        }
      }
    }
  }

  section {
    z-index: 2;
    &.display {
      pointer-events: initial;

      aside {
        .content {
          h2,
          > p {
            transition: opacity 0.5s cubic-bezier(0, 0, 0.23, 1),
              transform 0.5s cubic-bezier(0, 0, 0.23, 1),
              background-position 0.5s cubic-bezier(0, 0, 0.23, 1) 0.2s;
            opacity: 1;
            transform: translateY(0px);
            background-position: 100% 100%;
          }
          p.more {
            transition: opacity 0.5s cubic-bezier(0, 0, 0.23, 1),
              background-position 0.3s cubic-bezier(0, 0, 0.23, 1),
              transform 0.5s cubic-bezier(0, 0, 0.23, 1);
            opacity: 1;
            transform: translateY(0px);
          }
          div.img {
            img {
              transition: opacity 0.5s cubic-bezier(0, 0, 0.23, 1),
                transform 0.5s cubic-bezier(0, 0, 0.23, 1);
            }

            opacity: 1;
            &:first-child {
              img {
                opacity: 1;
                transform: translate(-42vw, -75%);
              }
            }
            &:nth-child(2) {
              img {
                opacity: 1;
                transform: translate(calc(-1vw), calc(-50% + 100px));
              }
            }
          }
        }
      }

      &.mask {
        &.maskdown {
          aside {
            .content {
              h2,
              > p {
                transition: opacity 0.5s cubic-bezier(0, 0, 0.23, 1),
                  transform 0.5s cubic-bezier(0, 0, 0.23, 1),
                  background-position 0.5s cubic-bezier(0, 0, 0.23, 1) 0.2s;
                opacity: 0;
                transform: translateY(+100px);
                background-position: 100% 0%;
              }
              p.more {
                transition: opacity 0.5s cubic-bezier(0, 0, 0.23, 1),
                  background-position 0.3s cubic-bezier(0, 0, 0.23, 1),
                  transform 0.5s cubic-bezier(0, 0, 0.23, 1);
                opacity: 0;
                transform: translateY(+100px);
              }
              div.img {
                img {
                  transition: opacity 0.5s cubic-bezier(0, 0, 0.23, 1),
                    transform 0.5s cubic-bezier(0, 0, 0.23, 1);
                }
                &:first-child {
                  img {
                    opacity: 0;
                    transform: translate(-42vw, calc(-75% + 100px));
                  }
                }
                &:nth-child(2) {
                  img {
                    opacity: 0;
                    transform: translate(calc(-1vw), calc(-50% + 250px));
                  }
                }
              }
            }
          }
        }
        &.maskup {
          aside {
            .content {
              h2,
              > p {
                transition: opacity 1s cubic-bezier(0, 0, 0.23, 1),
                  transform 1s cubic-bezier(0, 0, 0.23, 1),
                  background-position 1s cubic-bezier(0, 0, 0.23, 1);
                opacity: 0;
                transform: translateY(-100px);
                background-position: 100% 200%;
              }
              p.more {
                transition: opacity 1s cubic-bezier(0, 0, 0.23, 1),
                  background-position 0.3s cubic-bezier(0, 0, 0.23, 1),
                  transform 1s cubic-bezier(0, 0, 0.23, 1);
                opacity: 0;
                transform: translateY(-100px);
              }
              div.img {
                img {
                  transition: opacity 1s cubic-bezier(0, 0, 0.23, 1),
                    transform 1s cubic-bezier(0, 0, 0.23, 1);
                }

                &:first-child {
                  img {
                    opacity: 0;
                    transform: translate(-42vw, calc(-75% - 100px));
                  }
                }
                &:nth-child(2) {
                  img {
                    opacity: 0;
                    transform: translate(calc(-1vw), calc(-50% - 100px));
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.navigate {
  position: fixed;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  // height: 100vh;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.23, 1);
  ul {
    padding: 0;
    list-style: none;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      transform-origin: right center;
      transition: background-color 0.3s cubic-bezier(0, 0, 0.23, 1),
        transform 0.3s cubic-bezier(0, 0, 0.23, 1);
      p {
        font-size: 1vw;
        line-height: 1;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        margin: 0;
      }
      span {
        transform-origin: right center;
        width: 50px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale3d(0, 1, 1);
        transition: background-color 0.3s cubic-bezier(0, 0, 0.23, 1),
          transform 0.3s cubic-bezier(0, 0, 0.23, 1);
      }
      &.active {
        // background-color: white;
        transform: scale3d(0, 1, 1);
        span {
        }
      }
    }
  }
  &.display {
    opacity: 1;
    ul {
      li {
        span {
          transform: scale3d(0.8, 1, 1);
          transition: background-color 0.3s cubic-bezier(0, 0, 0.23, 1),
            transform 0.3s cubic-bezier(0, 0, 0.23, 1);
        }
        &.active {
          background-color: white;
          transform: scale3d(1, 1, 1);
          span {
          }
        }
        &:hover {
          cursor: pointer;
          span {
            background-color: white;
            transform: scale3d(1, 1, 1);
          }
        }
      }
    }
  }
}

#imgitem {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#imgitem canvas {
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
#imgitem img {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  // display: none;
}

.about {
  position: fixed;
  top: 50px;
  right: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
  color: $secondary-color;
  text-transform: uppercase;
  p,
  span {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    margin: 0;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    line-height: 1;
    height: 1.5vw;
  }
  p:hover {
    > span {
      > span:first-child {
        transform: translateY(-50px);
      }
      > span:nth-child(2) {
        transform: translateY(0);
      }
    }
  }
  span.content {
    position: relative;
    overflow: hidden;
  }
  span:nth-child(2) {
    position: absolute;
    transform: translateY(50px);
  }
}
